<div class="mb-3">
    <label for="EndpointUri" class="form-label">Endpoint URI</label>
    <input type="text" class="form-control" id="EndpointUri"
           value="" required>
</div>
<div class="mb-3">
    <label for="PrimaryKey" class="form-label">Primary Key</label>
    <input type="text" class="form-control" id="PrimaryKey" 
           value="" required>
</div>
 
<button id="connectButton" class="btn btn-primary">Connect</button>
<button id="clearButton" class="btn btn-secondary">Clear</button>
