<div class="p-3">
    <h5>Document Details</h5>
    <!-- Container where jsoneditor will display the editable JSON -->
    <div id="jsoneditor" style="height: 400px;"></div>
    <!-- Save button for the editor -->
    <button id="saveDocument" class="btn btn-primary mt-2">Save</button>
</div>